.jumbotron {
	background-color: red;
	background-image: url("../img/cthulu.jpg");
	color: #FFFFDE;
	text-align: center;
	padding: 150px 0px;
}

.jumbotron h1 {
		margin: 0px;
		font-family: 'Teko', sans-serif;
		font-size: 120px;
		text-transform: uppercase;
}

.number-input {
	margin: 10px 25px 25px 25px;
}

.button {
	margin: 15px 0px 25px 0px;
	padding: 5px 8px;
	background-color: #FFFFDE;
	border-color: #DED786;
	color: #352B21;
}

button:hover {
	background-color: #352B21;
	border-color: #DED786;
	color: #FFFFDE;
}

#enter {
	margin-top: 50px;
}

#about {
	text-align: center;
	padding: 15px 250px;
	background-color: #352B21;
	color: white;
}

h2 {
	color: #FEC15F;
	text-align: center;
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
}

h3 {
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
	color: #FEC15F;
}

ol {
	text-align: left;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
}
